#YC_SERVICE_ACCOUNT_KEY_FILE=
TF_VAR_cloud_id=
TF_VAR_folder_id=
TF_VAR_subnet_id=
TF_VAR_image_id=
AWS_ENDPOINT_URL_S3=https://storage.yandexcloud.net
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
TF_CLI_CONFIG_FILE=
YC_TOKEN=